.container {
  padding: 10vh 8vw;
  display: flex;
}
.menu {
  min-width: 250px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .item {
    display: flex;
    justify-content: space-between;
    .itemTitle, .itemEdit {
      color: #bbb;
      cursor: pointer;
      transition: all 0.35s ease;
      &:hover {
        color: #555;
      }
    }
  }
}
.main {
  flex-grow: 1;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 80px;
    flex-grow: 1;
  }
  .formItem {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .itemDescription {
    min-width: 140px;
  }
  input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    color: #bbb;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    &:focus {
      border: 1px solid #4d4d4d;
    }
    &[type="color"] {
      height: 100%;
      padding: 2px 4px;
    }
  }
  .optionItemDescription {
    min-width: 140px;
    padding: 14px 0;
    align-self: start;
  }
  .optionItems {
    flex-grow: 1;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .optionItem {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .addNewOption {
    align-self: center;
    padding: 10px 20px;
    border-radius: 3px;
    color: #555;
    background: #eaeaea;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      color: #eaeaea;
      background: #555;
    }
  }
  .removeOption {
    padding: 10px 20px;
    border-radius: 3px;
    color: #555;
    background: #eaeaea;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      color: #eaeaea;
      background: #555;
    }
  }
  .matrix {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.spacer {
  width: 250px;
}