.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px 40px;

  @media only screen and (max-width: 1000px) {
    padding: 20px 30px;
  }

  @media only screen and (max-width: 680px) {
    padding: 20px;
  }

  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    width: min(80ch, 100%);
    color: #333;
    text-align: justify;
    margin-bottom: 10px;
  }

  a {
    color: #999;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: #ddd;
    }
  }
}

.heading {
  width: min(80ch, 100%);
}

.folder {
  // align-self: center;
  padding: 30px 20px;
  display: inline-grid;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;

  @media only screen and (max-width: 1980px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1505px) {
    padding: 30px 10px;
    gap: 30px;
  }

  @media only screen and (max-width: 1465px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 1000px) {
    padding: 20px 10px;
    grid-template-columns: 1fr;
  }
}