.container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.headings {
  font-weight: 500;
}

.totals {
  font-weight: 500;
  color: #072b54;
}

.ravgs {
  font-weight: 500;
  color: #9b2852;
}

.today {
  font-weight: 500;
  color: #285e9b;
}