.summary {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1.5fr 1fr 1fr 1fr 4fr 0.5fr;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 5px;
  cursor: pointer;
}

.text, .number {
  padding: 5px 3px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.number {
  font-family: monospace;
  text-align: center;
}

.toggle {
  justify-self: center;
}

.details {
  min-height: 200px;
  border: 1px solid #ccc;
  border-top: none;
}