.summary {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 4fr;
  border: 1px solid #ccc;
  padding: 0 15px 0 5px;
}

.text {
  padding: 5px 3px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}