.container {
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
}

.saveButton {
  margin-bottom: 30px;
  padding: 0px 2px;
}

.form {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.metaData {
  display: flex;
  flex-direction: column;

  input, select {
    margin-bottom: 16px;
  }
}