.section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.reverseSection {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;

    .demoField {
      grid-row: 2;
    }

    .step {
      grid-row: 1;
    }
  }
}

.step {
  padding: clamp(20px, 10%, 80px) clamp(30px, 15%, 120px);
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;

  .stepContent {
    display: flex;
    flex-direction: column;
    gap: 25px;

    h1 {
      font-size: 32px;
    }

    p {
      max-width: 500px;
      font-size: 19px;
      text-align: justify;
      line-height: 1.5;
      color: #666;
    }
  }

}

.demoField {
  padding: clamp(20px, 10%, 80px) clamp(30px, 15%, 120px);
}

.demo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.combo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  &>div:first-child {
    justify-self: end;
  }
}

.demo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  align-self: stretch;
  margin-bottom: 3px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #555;
  font-weight: 500;
  background-color: #dbdbdb;
  font-size: 15px;
}

.legend {
  margin-top: 5px;
  width: 45%;
}