.container {
  display: flex;
  flex-direction: column;
}

.topLine {
  display: flex;
  gap: 15px;
  font-size: 32px;
  color: #aaa;
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    color: #444;
  }
}

.ranges {
  align-self: center;
  padding: 20px;
  display: inline-grid;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @media only screen and (max-width: 1400px)  {
    padding: 20px 10px;
    gap: 30px;
  }

  @media only screen and (max-width: 1360px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 930px) {
    grid-template-columns: 1fr;
  }
}