.name {
  margin-bottom: 3px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #444;
  font-weight: 500;
  background-color: #dbdbdb;
  font-size: 15px;
}

.matrix {
  margin-bottom: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}