.container {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0px;

  &>div {
    padding: 3px 5px;
    font-size: 14px;
  
    @media only screen and (max-width: 480px) {
      font-size: 13px;
  
      i {
        font-size: 13px;
      }
    }
  }
}