.container {
  padding: 4px 8px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #aaa;

  & div {
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: #555;
    }
  }
}