.container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  cursor: pointer;
  transition: all 0.15s ease;

  i {
    font-size: 22px;
  }

  &:hover {
    color: #aaa;
  }
}

.logoText {
  font-weight: 500;
  
  @media only screen and (max-width: 768px) {
    display: none;
  }
}