.container {
  position: sticky;
  top: 0px;
  z-index: 10;
  font-weight: 500;
}

.content {
  padding: 0px 25px;
  height: 58px;
  display: flex;
  align-items: center;
}

.navs {
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  gap: 30px;
  color: #444;

  nav {
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: #aaa;
    }
  }

  @media only screen and (max-width: 480px) {
    gap: 15px;
  }
}

.auth {
  @media only screen and (max-width: 480px) {
    margin-left: 25px;
  }
}